/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Aleo:ital,wght@0,100..900;1,100..900&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&family=Sacramento&display=swap');
* {
   font-family: "Bricolage Grotesque", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding: 2rem;
    scroll-behavior: smooth;
  
}

:root {
  --main-color: rgb(1, 224, 49);
  --text-color: rgb(0, 0, 0);
  --bg-color: rgba(255, 255, 255, 0.925);
}

/* Example styles for scrollbar in Firefox */
* {
    scrollbar-width: auto; /* Options: auto, thin */
    scrollbar-color:rgba(247, 152, 210, 0.89)  var(--main-color); /* thumb color and track color */
}
html::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border: 5rem;
}
body {
  background: var(--text-color);
  color: var(--bg-color)
}

section {
  padding: 4.5rem 0 1.5rem;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  transition: 0.5s;

}

.logo {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--bg-color);
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-family: "Mystery Quest", system-ui;
  font-style: normal;
}

.logo .bx {
font-size: 24px;
color: var(--main-color);
}

.navbar {
  display: flex;
  column-gap: 5rem;
}

.navbar li {
position: relative;
}

.navbar a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--bg-color);
}

.navbar a::after {
  content: '';
  width: 0;
  height: 2px;
  background: var(--main-color);
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: background-color 0.9s linear; 

}

.navbar a:hover::after, 
.navbar .home-active::after {
  width: 100%;
  background-color: rgba(247, 152, 210, 0.89);
}

#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 1000001;
  display: none;
}

.btn {
  padding: 0.1rem 0.9rem;
  background: rgba(247, 152, 210, 0.89);
  color: var(--bg-color);
  font-weight: 400;
  border-radius: 0.5rem;

  
}

.btn:hover {
  background: var(--main-color);
}

.container  {
width: 100%;
min-height: 800px;
position: relative;
background:rgb(2, 3, 7, 0.4);



}

.container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -2;
  
  

}

.home-text {  

  margin-top: 350px;
  margin-left: 55px;
  font-size: 25px;
}
.home-text span {
  color: var(--bg-color);
  font-weight: 500;
  text-transform: uppercase;
}

.home-text h1 {
  color: var(--bg-color);
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;

}

.swiper-pagination-bullet-active {
  background: var(--main-color) !important;
}

.play .bx {

 color: var(--main-color);
}

.play .bx:hover {

color: var(--bg-color);
}

.star .bx {

  color: #FFBF00;
}

.heading {

  max-width: 508px;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.2rem;
  font-weight: 500;
  text-transform: uppercase;

  text-align: center;
  margin-bottom: 52px;
  color: rgba(247, 152, 210, 0.89);
  font-family: "Mystery Quest", system-ui;
  font-style: normal;
  

}


.movies-container {

  width: 968px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, auto));
  gap: 1rem;
  margin-top: 2rem;
 
  position: relative;
}


.box .box-img {
  width: 100%;
  height: 240px;
  
}

.box .box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
 
}

.box .box-img img:hover {
  transform: translateY(-5px);
  transition: 0.1 all linear;
 
}


.box h3 {
  font-size: 1rem;
  font-weight: 500;
}

.box span {
  font-size: 13px;
}



.premiering-container .box-img img:hover {
  transform: translateY(0);
}


#jason {
  transition: width 0.6s; /* Smooth transition */
  display: block;
  width: 100%;
 
}



#jason:hover {
  content: url('Images/Friday\ The\ 13th\ Scene.jpg');


  width: 335px;





}

#scar {
  transition: width 0.6s; /* Smooth transition */
  display: block;
  width: 100%;
 
}



#scar:hover {
  content: url('Images/Scarface\ Scene.jpg');


  width: 350px;





}

#psycho {
  transition: width 0.6s; /* Smooth transition */
  display: block;
  width: 100%;
 
}



#psycho:hover {
  content: url('Images/American\ Psycho\ scene.jpg');


  width: 340px;





}

#catch {
  transition: width 0.6s; /* Smooth transition */
  display: block;
  width: 100%;
 
}



#catch:hover {
  content: url('Images/Catch\ Me\ If\ You\ Can\ Scene.png');


  width: 340px;





}

#old {
  transition: width 0.6s; /* Smooth transition */
  display: block;
  width: 100%;
  height: 100%;
 
}



#old:hover {
  content: url('Images/40\ Year\ Old\ Movie\ Scene.jpg');


  width: 340px;


}

#jack-city {
  transition: width 0.6s; /* Smooth transition */
  display: block;
  width: 100%;
  height: 100%;
 
}



#jack-city:hover {
  content: url('Images/New\ Jack\ City\ Scene.jpg');


  width: 340px;


}

#future {
  transition: width 0.6s; /* Smooth transition */
  display: block;
  width: 100%;
  height: 100%;
 
}



#future:hover {
  content: url('Images/Back\ To\ The\ Future\ Movie\ Scene.png');


  width: 340px;


}
#terminator {
  transition: width 0.6s; /* Smooth transition */
  display: block;
  width: 100%;
  height: 100%;
 
}



#terminator:hover {
  content: url('Images/Terminator\ movie\ scene.jpg');


  width: 340px;


}

#hours {
  transition: width 0.6s; /* Smooth transition */
  display: block;
  width: 100%;
  height: 100%;
 
}



#hours:hover {
  content: url('Images/48\ hours\ movie\ scene.jpeg');


  width: 340px;


}
#black {
  transition: width 0.6s; /* Smooth transition */
  display: block;
  width: 100%;
  height: 100%;
 
}



#black:hover {
  content: url('Images/Men\ In\ Black\ Movie\ Scene.jpg');


  width: 340px;


}
#scream {
  transition: width 0.6s; /* Smooth transition */
  display: block;
  width: 100%;
  height: 100%;
 
}



#scream:hover {
  content: url('Images/Scream\ Movie\ Scene.png');


  width: 340px;


}

#fast {
  transition: width 0.6s; /* Smooth transition */
  display: block;
  width: 100%;
  height: 100%;
 
}



#fast:hover {
  content: url('Images/2\ Fast\ 2\ Furious\ Movie\ Scene.jpg');


  width: 340px;


}
.newsletter {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
  margin-top: 75px;
 
}

.newsletter h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Mystery Quest", system-ui;
  font-style: normal;
  color: var(--main-color)
}

.newsletter form {
background-color: #a569f0;
padding: 20px;
border-radius: 0.2rem;
display: flex;
align-items: center;
}

.newsletter form input {
  border: none;
  outline: none;
  padding: 3px;
}

.newsletter form .email {
width: 300px;
}

.newsletter form input::placeholder {
color: var(--text-color);
font-size: 0.8rem;
font-weight: 500;
cursor: pointer;


}

.newsletter .btn {
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  padding: 13px;
}

.footer {
  max-width: 968px;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

.social {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.social .bx {

  background: var(--bg-color);
  padding: 2px;
  font-size: 2rem;
  border-radius: 50%;
  border: 4px solid green;
  color: var(--main-color);
 
}

.social .bx:hover {
  background: rgba(247, 152, 210, 0.89);
  color: var(--bg-color);
  transition: 0.2s all linear;
}


#movie-info {
  border: 3px solid rgba(247, 152, 210, 0.89);
  padding: 16px;
  margin-top: 16px;
  display: none; 
  margin-left: 530px;
  height: 375px;
  background-image: url(Images/friday\ the\ 13th\ movie\ details\ thumbnail.jpg);
  background-size: cover;
  width: 600px;
  column-gap: 4rem;
  justify-content: center; /* Adjust based on your needs */
  align-items: center; /* Adjust based on your needs */
  position: fixed;
  inset: 0px;
  z-index: 1000;
  -moz-box-align: center;
  -moz-box-pack: center;
  transition: opacity 250ms cubic-bezier(0.32, 0.94, 0.6, 1) 67ms;
  opacity: 1;
  overflow-y: auto;
  
}



#movie-info button {
  
  padding: 0.1rem 0.9rem;
  background: rgb(1, 224, 49);
  color: var(--bg-color);
  font-weight: 400;
  border-radius: 0.5rem;
  margin-top: 320px;
}

.description {
 margin-left: 100px;
 margin-right: 35px;
 font-size: 16px;
 background: rgba(0, 0, 0, 0.1);;
}

 
.hidden {
  display: none;

}

.swiper-container {
  transition: none; /* Temporarily disable transitions */
}

.button-container {
 position: fixed;
}